<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<<<<<<< HEAD
    <link rel="stylesheet" href="/css/styles.css">
=======
    <link type="text/css" rel="stylesheet" href="styles.css">
>>>>>>> 04d59feaf36ddf2a60a8249d0877af6ad1ee959a
</head>

<body>
    <div id="banner">
        <h1 id="hi">The Hall of Heroes</h1>
    </div>

    {{{body}}}

</body>

</html>