<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link
        href="https://fonts.googleapis.com/css?family=Abril+Fatface|Bangers|Fredericka+the+Great|Mrs+Sheppards|Niconne|Righteous|Ultra"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="styles.css">
</head>

<body>

    {{{body}}}

    <div class="">
        <form action="/api/auth/logout" method="POST">
            <button>
                Logout
            </button>
        </form>
    </div>

</body>

</html>