<h1 class="whoops">
    Whoops!! Error posting new art. One or more of the entries was left blank.
</h1>
<div class="whoopsForm">
    <form action="/gallery/new" method="GET">
        <button>Go Back to New Art Form</button>
    </form>
</div>