<h1 class="whoops">
    Whoops!! Error editing art. One or more of the entries was left blank
</h1>
<div class="whoopsForm">
    <form action="/gallery/{{id}}/edit" method="GET">
        <button>Go back to Editing</button>
    </form>
</div>