<div id="register">
    <div id="africanWarrior"><img
            src="https://i.pinimg.com/736x/85/d2/51/85d251739f310fced3e7bf69242c4755--african-artwork-black-artwork.jpg"
            alt="africanWarrior" id='africanWarrior'>
    </div>

    <div id="regDiv">
        <div class="banner">

            <h1 class="hi">The Hall of Heroes</h1>
        </div>
        <div id="formContainer">
            <div class="form">
                <h1 class="formHeader">Begin Your Journey Here</h1>

                <form action="/api/auth/register" method="POST" id="regForm">
                    <div id="registerForm">
                        <div class="entryBox">
                            <input type="text" name="email" id="email" placeholder="Email Address">
                        </div>
                        <div class="entryBox">
                            <input type="text" name="password" id="password" placeholder="Password">
                        </div>
                        <div id="register">
                            <button id="registerButton">
                                Register Now
                            </button>
                        </div>
                    </div>
                </form>



            </div>
        </div>
    </div>
</div>